<footer class="footer mt-auto py-3 text-center">
  <div class="container text-center mx-6 px-6">
    <hr>
    <span>Created by {{name}} - 2021</span>
  </div>
</footer>

<style>
    footer{
        color: #D0E6F0;
        width: 100vw;
        margin: 0px;
    }
</style>