<header>
    <div class="container-fluid px-4 pb-1">
        <div class="title-div mb-2">
            <img src="/img/sun.png" id="header-logo">
            <h1 id="title" class="display-4">{{title}}</h1>
        </div>
        <nav aria-label="breadcrumb" class="pb-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Weather</a> </li>
                <li class="breadcrumb-item"><a href="/help">Help</a> </li>
                <li class="breadcrumb-item"><a href="/about">About</a></li>
            </ol>
        </nav>
    </div>
</header>
<style>
    header div {
        background-color: #3f3946;
        color: white;
        letter-spacing: 2px;
    }

    header li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    header #header-logo {
        vertical-align: middle;
        width: 8vh;
        margin-right: 15px;
    }
    header #title {
        font-weight: 900;
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
    }


</style>